<span class="py-2 px-3 bg-secondary">商品新規登録</span>

<%= form_with model: @item, url:'/admin/items' do |f| %>

  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">商品画像</label>
    <div class="col-sm-5">
      <%= f.file_field :image, accept: "image/*" %>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">商品名</label>
    <div class="col-sm-5">
      <%= f.text_field :name, autofocus: true, id:"inputName", placeholder: "商品名", class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">商品説明文</label>
    <div class="col-sm-5">
      <%= f.text_area :introducton, autofocus: true, id:"inputName", placeholder: "ここに説明を記述します", class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputGenre" class="col-sm-2 col-form-label">ジャンル</label>
    <div class="col-sm-5">
      <select class="form-control form-control-sm">
        <option selected disabled value="">-- 選択してください --</option>
        <% @genres.each do |genre| %>
        <option><%= genre.name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">税抜価格</label>
    <div class="col-sm-5">
      <%= f.text_field :price, autofocus: true, id:"inputName", placeholder: "1000", class:"form-control" %>円
    </div>
  </div>

  <div class="form-group row">
    <label for="inputStatus" class="col-sm-2 col-form-label">販売ステータス</label>
    <div class="col-sm-5">
      <div class="form-check form-check-inline">
        <%= f.radio_button :is_active, '販売中', checked: true, class: 'form-check-input' %>
        <%= f.label :is_active, '販売中', value: '販売中', class: 'form-check-label' %>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :is_active, '販売停止中', class: 'form-check-input' %>
        <%= f.label :is_active, '販売停止中', value: '販売停止中', class: 'form-check-label' %>
      </div>
    </div>
  </div>


  <%= f.submit '新規登録', class: "btn btn-success" %>

<% end %>
