<span class="py-2 px-3 bg-secondary">商品新規登録</span>

<%= form_with model: @item, url:'/admin/items' do |f| %>

  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">商品画像</label>
    <div class="col-sm-5">
      <%= f.file_field :image, accept: "image/*" %>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">商品名</label>
    <div class="col-sm-5">
      <%= f.text_field :name, autofocus: true, id:"inputName", placeholder: "商品名", class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">商品説明文</label>
    <div class="col-sm-5">
      <%= f.text_area :introducton, autofocus: true, id:"inputName", placeholder: "ここに説明を記述します", class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">税抜価格</label>
    <div class="col-sm-5">
      <%= f.text_field :price, autofocus: true, id:"inputName", placeholder: "1000", class:"form-control" %>円
    </div>
  </div>

  <%= f.submit '新規登録', class: "btn btn-success" %>

<% end %>
