<div class="row">
  <div class="offset-md-1">
    <h5 class="px-4 table-secondary mb-4">商品詳細</h5>
  </div>
</div>

<div class="row　mt-3">
  <%= image_tag @item.item_image, size: "200x200" %>
  <% image_tag @item.get_item_image(50,50) %>
  <table class="">
    <tbody>
      <tr>
        <td>商品名</td>
        <td><%= @item.name %></td>
      </tr>
      <tr>
        <td>商品説明文</td>
        <td><%= @item.introduction %></td>
      </tr>
      <tr>
        <td>ジャンル名</td>
        <td><%= @item.genre.name %></td>
      </tr>
      <tr>
        <td>税込価格(税抜価格)</td>
        <td><%= (number_with_delimiter(@item.price) * 1.1).to_i %>(<%= number_with_delimiter(@item.price) %>)円</td>
      </tr>
      <tr>
        <td>販売ステータス</td>
        <% if @item.is_active == true %>
          <td class="text-success font-weight-bold">販売中</td>
        <% else %>
          <td class="text-secondary font-weight-bold">販売停止中</td>
        <% end %>
      </tr>
    </tbody>
  </table>

</div>

<div class="row">
  <%= link_to "編集する", edit_admin_item_path(@item.id), class:"btn btn-success mx-auto" %>
</div>