<span class="py-2 px-3 bg-secondary">商品詳細</span>
<br>

 <%= image_tag @item.item_image, size: "200x200" %>
<% image_tag @item.get_item_image(50,50) %>
<table>
  <tbody>
    <tr>
      <td>商品名</td>
      <td><%= @item.name %></td>
    </tr>
      <td><%= @item.introduction %></td>
      <td><%= @item.genre.name %></td>
      <td><%= @item.price %></td>
      <% if @item.is_active == true %>
        <td class="text-success font-weight-bold">販売中</td>
      <% else %>
        <td class="text-secondary font-weight-bold">販売停止中</td>
      <% end %>
    </tr>
  </tbody>
</table>

<%= link_to "編集する", edit_admin_item_path(@item.id), class:"btn btn-success" %>
